<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/AdminLTE/img/logo_for_Addressbar.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition login-page">
    @RenderBody()
</body>
</html>

