@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support Email 1 :</strong>   <a href="mailto:jenish.zinzuvadiya@hotmail.com">jenis.zinzuvadiya@hotmail.com</a><br />
    <strong>Support Email 2 :</strong>   <a href="mailto:developer.jenish@gmail.com">developer.jenish@gmail.com</a><br />
    <strong>Contact  :</strong>   <a href="tel:+917383380316">+91 73833 80316</a><br />
</address>