@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleSmall = "Dashboard";
}

@section Header{
    <section class="content-header">
        <h1>
            Dashboard
            <small></small>
        </h1>
    </section>
}
<section class="content">
    <div class="row">
    </div>
</section>